<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Course Management System</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--  link rel="stylesheet" type="text/css" media="all" 
          href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" /-->
<link
	href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700'
	rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="#" th:href="@{/css/style.css}">
</head>

<body>
	<div th:replace="fragments/header :: 'header' (module='course')">
		&copy; 2016 The Static Templates</div>


	<div class="container">
		<p>Under Construction. Stayed tuned!</p>
	</div>
	<div th:replace="fragments/footer :: 'footer'">&copy; 2016 The
		Static Templates</div>

</body>

</html>